<!DOCTYPE html>
<html>
<head>
  <title>Car Dealership</title>
</head>
<body>
  <div class="container">
    <h1>Car Dealership. Add New Car!</h1>
    <div>
      <form id="formOne" action='/Cars'>
        <div class="form-group">
          <label for="make-model">Car Make Model:</label>
          <input id="make-model" class="form-control" type="text" name="make-model">
        </div>
        <div class="form-group">
          <label for="price">Car Price</label>
          <input id="price" class="form-control" type="text" name="price">
        </div>
        <div class="form-group">
          <label for="miles">Car Miles</label>
          <input id="miles" class="form-control" type="text" name="miles">
        </div>
        <div class="form-group">
          <label for="color">Car Color</label>
          <input id="color" class="form-control" type="text" name="color">
        </div>
        <div class="form-group">
          <label for="description">Description of Car</label>
          <input id="description" class="form-control" type="text" name="description">
        </div>

        <button type="submit" class="btn">Add to List</button>
      </form>
    </div>


  </div>
</body>
</html>
